.ToDoEditor .editor_wrapper {
  width: 100%;
  display: flex;
  gap: 10px;
}
.ToDoEditor input {
  flex: 1;
  box-sizing: border-box;
  border: 1px solid rgb(200, 220, 220);
  border-radius: 5px;
  padding: 15px;
}
.ToDoEditor input:focus {
  outline: none;
  border: 1px solid aquamarine;
}
.ToDoEditor button {
  cursor: pointer;
  width: 80px;
  border: none;
  background-color: blueviolet;
  color: white;
  border-radius: 5px;
}
